p {
  font-size: $sizeBase;
  line-height: $sizeXLarge;
  color: $colorBase2;
  font-weight: 500;
  padding: {
    bottom: $spacingBase;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $fontAlternative;
  font-weight: 500;
  text-transform: uppercase;
  color: $colorBase;
}

h1 {
  font-size: $sizeLarge;
  @include screen(md) {
    font-size: $sizeXXLarge;
  }
}

h2 {
  font-size: $sizeXLarge;
}

h3 {
  font-size: $sizeXMedium;
}

h4 {
  font-size: $sizeSMedium;
}

h5 {
  font-size: $sizeBase;
}

.highlight {
  color: $colorVerde;
}

.font--alternative {
  font-family: $fontAlternative;
}

.bold {
  font-weight: $bold;
}

.regular {
  font-weight: $regular;
}

.size-xl {
  font-size: $sizeXLarge;
}

.size-lg {
  font-size: $sizeLarge;
}

.size-md {
  font-size: $sizeMedium;
}

.size-sm {
  font-size: $sizeSmall;
  line-height: $sizeSmall*2;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.faded {
  color: $colorBase4;
}

.grey {
  color: $colorBase3;
}

.active {
  color: $colorVerde;
}
